body {
    min-height: 1000px;
   
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

a {
    text-decoration: none;
    color: white;
}
.content{
   display: flex;
   justify-content: space-between;
   align-items: center;
 
   
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
#h2{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    letter-spacing: 15px;
}
#h2:hover {
background-color: red;
border-radius: 5px;
padding-bottom: 10px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
}
 nav ul li {
    display: inline-block;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
margin: 5px;
box-shadow: -2px -2px 4px white,
 2px 2px 4px rgb(80, 80, 80);
}
#a:hover{
padding: 10px;
border-radius: 8px;
box-shadow: inset -2px -2px 4px white,
  inset  2px 2px 4px rgb(80, 80, 80);
}

#b:hover{
background-color: red;
padding: 10px;
border-radius: 8px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
}
#c:hover{
background-color: red;
padding: 10px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
border-radius: 8px;
}
#d:hover{
background-color: red;
padding: 10px;
border-radius: 8px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
}
ul li a {
    text-decoration: none;
    color: black;
}
content  button{
    background-color: red;
}
#oo{
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px ;
    font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 5px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
margin: 5px;
}
#oo:hover{
    background-color: #3e8e41;
    cursor: pointer;
    transition: .4s ease;
    color: black;
    background-color: #fff;
}
@media (max-width:767px) {
   .content {
    display: flex;
    margin-left: -13x;
   }
   #oo{
    display: none;
   }
}

.cont {
    margin-left: 60px;
    margin-top: 8%;
}

.cont h1 {
    font-weight:bold ;
   font-size: 40px;
 margin-bottom: 4px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cont span {
font-weight: bold;
 font-size: 40px;
 margin-bottom: 60px;
 
}
.cont h1 {
    font-size: 50px;
}
.cont h2 {
    font-size: 30px;
    margin-top: 10px;
}
#vip {

    font-size: 40px;
color: #4caf50;
margin-top: -20px;
}
#ll {
    width: 223px;
}


@media (max-width: 768px) {
.cont {
    margin-left: 10px;
}
    .cont h1 {
font-size: 20px;
}
.cont h2 {
    font-size: 20px;
    width: 200px;
}
#vip {
font-size: 18px;
margin-top: -14px;
}
#ll {
    font-size: 14px;
}
}
@media (max-width:767px) {
    #no {
        margin-left: 26px;
        width: 148px;
        height: 239px;
        margin-top: 74px;

    }
}

.cont button{
list-style: none;
    background-color: #4caf50;
    color: #fff7f7;
    border: none;
    padding: 10px 20px ;
    font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 5px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
margin: 5px;
text-decoration: none;
list-style: none;
padding-top: -20px
} 

.part2 img {
    width: 30%;
    height: 50%;
    padding: 10px;
margin-left: 70px;
margin-top: -1%;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    top: 30%;
    border-radius: 50%;
    
}
.part2 img:hover {
    transition: 5.3s ease;
    transform: rotateY(360deg) ;
    animation-duration: loub;
}

@media (max-width:795px) {
.part2 img {
    display: flex;
    flex-direction: row;
    }
}
@media (max-width:400px) {
.part2 img {
    display: none;
}
}

@media (max-width:775px) {
.part2 img {

}
}
.servic {
    margin-top: 15%;
    width: 100%;
    text-align: center;

}
.se {
    margin-top: 20px;
    
}
.se p {
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}
.se button {
list-style: none;
    background-color: #4caf50;
    color: #fff7f7;
    border: none;
    padding: 10px 20px ;
    font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 5px;
margin: 5px;
text-decoration: none;
list-style: none;
padding-top: -20px;
}
.inco {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.int {
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
     padding: 40px;
}
.int i {
font-size: 70px;
color: aqua;
}
.int p {
font-size: 87%;
}
.ins {
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
     padding: 40px;
}
.ins i {
font-size: 70px;
color: rgb(34, 17, 132);
}
.ins p {
font-size: 87%;
}
.inm {
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);   
       padding: 40px;
}
.inm i {
font-size: 70px;
color: rgb(107, 17, 17);
}
.inm p {
font-size: 87%;
}
.inv {
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
          padding: 40px;
}
.inv i {
font-size: 70px;
color: rgb(193, 209, 15);
}
i:hover{
    background-color: white;
    border-radius: 50%;
    transform: scale(1.3);
    transition: 2s;
}
.inv p {
font-size: 87%;
}
@media (max-width:767px) {
    .inco{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding-top: 20px;
        justify-content: space-between;
    }
}
.project {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.proj {
    
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 10px;
}
.proj p{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}
.proj img {
width: 80%;
height: 54%;
}
.proj button{

list-style: none;
    background-color: #4caf50;
    color: #fff7f7;
    border: none;
    padding: 10px 20px ;
    font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 5px;
margin: 5px;
text-decoration: none;
list-style: none;
padding-top: -20px;
}
.proj button:hover {
    
    background-color: aqua;
    border-radius: 30%;
    transform: scale(1.3);
    transition: 2s;
}

.prob {
    text-align: center;
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
     margin: 10px;
}
.prob img {
width: 80%;
}
.prob button{
    
list-style: none;
    background-color: #4caf50;
    color: #fff7f7;
    border: none;
    padding: 10px 20px ;
    font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 5px;
margin: 5px;
text-decoration: none;
list-style: none;
padding-top: -20px;
}
.prob button:hover {
    
    background-color: aqua;
    border-radius: 30%;
    transform: scale(1.3);
    transition: 2s;
    
}
.prob p {

font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bold;
}
@media (max-width:767px) {
    .project{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding-top: 20px;
        justify-content: space-between;
    }
}
.contact {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 10px;
}
.contact2 {
    text-align: center;
width: 50%;
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.contact2 h2 {
font-size: 40px;
}
.contact2 p {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contact2 p i {
    font-size: 30px;
    color: aqua;
}
.mycv {
    text-align: center;
width: 50%;
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.mycv h2 {
    
font-size: 40px;
}

.mycv  {
    text-align: center;
    margin-left: 30px;
}

.mycv p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.mycv p:hover{
background-color: aqua;
margin-top: 15px;
}

@media (max-width:767px) {
    .contact{
        display: flex;
        flex-direction: column;
    width: 100%;
    }
    .mycv {
        margin-top: 40px;
        width: 100%;
    }
    .contact2 {
        width: 100%;
    }

}
.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4caf50;
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
.grid p {
    color: rgb(10, 7, 7);
    font-size: 20px;
    text-align: center;

}
.grid i {
    color: white;
}

@media (max-width:767px) {
    .grid{
        display: flex;
        flex-direction: column;
    width: 100%;
    }
}
footer {
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: #fff7f7;
    padding: 40px;
    margin-top: 40px;
}